# basics

In [1]:
print("Hello World!")

Hello World!

In [2]:
a = 1 # assignment operator
b = a # assigns the value of a to b

# use hash to put comments

In [3]:
print(a)

1

In [4]:
print(b)

1

In [5]:
a, b, c = 1, 2, 3

In [10]:
sum = a + b
divide = a/b
multiply = a*b
sub = a - b

In [11]:
print(sum, divide, multiply, sub)

3 0.5 2 -1

## datatypes and type conversions

the basic datatypes are integer (int), float, boolean

In [18]:
a = 1
type(a)

int

in python, int/int division by default gets converted to float.

In [23]:
a = 1
type(a)

int

In [28]:
a = int(False)

any non-zero number is regarded as True for boolean

In [30]:
bool(0)

False

In [31]:
bool(1)

True

In [32]:
bool(2)

True

In [33]:
bool(-1)

True

In [35]:
a = 1
print(type(a))
a = False
type(a)

<class 'int'>

bool

In [37]:
s = "anakjad"

In [38]:
s = 'adadsadsad'

use single quotes for characters ```'a'``` and double quotes for strings ```"sfdsfsdf"```

In [40]:
type('a') # treates a character as a string

str

# conditional statements

if, else, elif (else if)

In [50]:
a = 345

a > 10000

False

In [52]:
if a > 10000:
    print(a) # convention is to use 4 spaces
elif a < 10000 and a > 1000:
    print("daddfdf")
else:
    print("sdfjldskjf")

sdfjldskjf

In [56]:
a = 150

if a > 10000:
    if a > 20000:
        print("> 20000")
    else:
        print("< 20000")

elif a < 10000 and a > 1000:
    print("daddfdf")
else:
    print("sdfjldskjf")

sdfjldskjf

In [59]:
a = 900

if a > 1000:
    print("a > 1000")
elif a < 2000:
    print("a < 2000")
else:
    print("ddaf")

a < 2000

In [68]:
a = 4

b = 10 if a > 4 else 20 # shorter way to write the same if statement

# if a > 4:
#     b = 10
# else:
#     b = 20

In [71]:
a = 0
print("1") if a > 1 else print("> 1")

> 1

# loops

3 kinds of loops: for, while, and do while. ```do while``` is not present in python. in do-while, the block is executed first </br>
followed by the condition check.

## for

In [2]:
for i in range(0, 10): # goes from 0-9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
i = 0
while i < 10:
    print(i)
    i += 1 # i = i + 1

0
1
2
3
4
5
6
7
8
9

i -= 1 ( i = i -1 )</br>
i *= 1 ( i = i * 1 )</br>
i /= 1 ( i = 1 / 1 )</br>

# functions

In [11]:
def add(a, b):
    """this function adds two numbers
a : a number
b : a number
returns the sum of a and b"""
    c = a + b
    return c

In [16]:
add(True, 1)

2

In [13]:
add?

Signature: add(a, b)
Docstring:
this function adds two numbers
a : a number
b : a number
returns the sum of a and b
File:      /tmp/ipykernel_120487/2770236570.py
Type:      function

In [14]:
def add_and_multiply(a, b):
    sum = a + b
    mul = a*b

    return sum, mul

In [15]:
add_and_multiply(2, 3)

(5, 6)

# next class we will start with lists and move on to numpy

this ic not python, this is C
</br>

```
int add(int a, int b)
{
int c = a + b;
return c;
}

float add(float a, float b)
{
float c = a + b;
return c;
}
```